@import "./styles.css";

@layer base {
  body {
    font-family: "Roboto", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
